<header>
	<div id="navbar">
		<% for (var i = 0; i < microphones.length; i++) { %>
			<div><a href="/<%= microphones[i].url %>" class="navbar-link"><%= microphones[i].name %></a></div>
		<% } %>
	</div>
</header>