<header>
	<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
	<div id="navbar">
		<a href="/"class="navbar-link">Etusivu</a>
		<% for (var i = 0; i < microphones.length; i++) { %>
			<p> | </p><a href="/<%= microphones[i].url %>"><%= microphones[i].name %></a>
		<% } %>
	</div>
</header>