<!DOCTYPE html>
<html lang="fi">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<div id="poster">
		<h1 id="title"><%= title %><h1>
	</div>
	<div id="content">
	<p>Mikrofoni on sähköakustinen muunnin, joka muuntaa äänivärähtelyn vastaavaksi sähköiseksi värähtelyksi. Mikrofoneja käytetään yleisimmin musiikin ja puheen muuttamiseen sähköiseen muotoon vahvistusta tai tallennusta varten. Mikrofoni on nykyaikaisen äänentallennus ja -toistotarpeiston vanhin väline, mikäli itse johtoja ei lasketa mukaan. Ensimmäisiä mikrofonikokeiluja tehtiin jo 1800-luvun alkupuoliskolla; ensimmäisen varsinaisen mikrofonin kehitti kuitenkin Emil Berliner -niminen fysiikan opiskelija vuonna 1877. Hän myi sen patentin Bell Telephone Companylle. Tätä mikrofonia käytettiin varhaisissa puhelimissa, mutta sitä kehitettiin paremmaksi juuri keksityn radion tarpeisiin. 
Erilaisia mikrofoneja:
Dynaaminen mikrofoni
Kondensaattorimikrofoni
Nauhamikrofoni
Hiilimikrofoni</p>
	<% for (var i = 0; i < microphones.length; i++) { %>
	<h1><%= microphones[i].name %><h1>
	<img src="/images/<%= microphones[i].image %>" class="img-microphone">
	<% } %>	
	</div>
	<% include partials/scripts.ejs %>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
</html>