<!DOCTYPE html>
<html lang="fi">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<div id="poster">
		<div id="title"><%= title %></div>
	</div>
	<div id="content">
	<div id="about">
	<h1>Yleistä</h1>
	<p>Mikrofoni on sähköakustinen muunnin, joka muuntaa äänivärähtelyn vastaavaksi sähköiseksi värähtelyksi. Mikrofoneja käytetään yleisimmin musiikin ja puheen muuttamiseen sähköiseen muotoon vahvistusta tai tallennusta varten. Mikrofoni on nykyaikaisen äänentallennus ja -toistotarpeiston vanhin väline.</p>
	</div>
	<% for (var i = 0; i < microphones.length; i++) { %>
	<h1><%= microphones[i].name %><h1>
	<img src="/images/<%= microphones[i].image %>" class="img-microphone">
	<% } %>	
	</div>
	<% include partials/scripts.ejs %>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
</html>