<!DOCTYPE html>
<html lang="fi">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<h1><%= title %><h1>
	
	<% include partials/scripts.ejs %>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
</html>