@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*, html {
	font-family: "Source Sans Pro";
	margin: auto;
	color: #444;
	position: relative;
}

body {
	background-color: #f9eedb;
	margin-bottom: 20px;
}

p, a {
	font-size: 18px;	
	font-weight: 300;
	text-align: justify;
}

h1 {
	font-family: "Poiret One";
	text-align: center;
	padding-bottom: 10px;
}

h2 {
	font-family: "Comfortaa";
	font-weight: 300;
}

ul { 
	display: table; 
	margin: 0 auto;
}

#poster {
	width: 100%;
	min-width: 720px;
	height: 500px;
	position: relative;
}

.poster-image {
	width: 100%;
	display: none;
	max-height:100%;
	max-width:100%;
}


#poster #site-title {
	font-family: "Oleo Script";
	font-size: 70px;
	color: black;
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 5px 30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f9eedb;
}

#content {
	width: 720px;
	height: auto;
}

#about {
	border: 0px solid #444;
	padding: 20px;
	margin: 30px 0px;
}

#links {
	margin: auto;
}

.img-microphone {
	width: 50%;
	display: block;
    margin: 0 auto;
	padding-top: 50px;
}

.microphone-name {
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
    width: 100%;
	height: auto;
	background-color: #d1cdc6;
}

footer p{
	font-size: 17px;
	font-style: italic;
    text-align: center;
}