@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

*, html {
	font-family: "Source Sans Pro";
}
body {
	background-color: #FFE4B5;
	margin: auto;
}

p {
	font-size: 19px;	
	font-weight: 300;
}
	
#title {
	font-family: "Black Han Sans";
}
	
#poster {
	width: 100%;
	height: 500px;
	background-image: url('../images/vintage.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#content {
	width: 650px;
	margin: auto;
}

footer {
	
	font-size: 17px;
	font-style: italic;
}

.img-microphone {
	width: 650px;
}
